ion-content {
   background: linear-gradient(to bottom, #267871, #267871,#267871,#267871, #FF914D);}

h2 {
  color: #FF914D;
  text-align: center;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: #267871;
}


ion-item {
  
  background: linear-gradient(to bottom, #267871, #ffffff, #ffffff, #ffffff, #ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff);
}
p {
  color: #ffffff;
  text-align: justify;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}