ion-content {
   background: linear-gradient(to bottom, #267871, #267871,#267871,#267871, #FF914D);}

h1 {
  color: #FF914D;
  text-align: center;
}

h2 {
  color: #ffffff;
  text-align: center;
}

h3 {
  color: #ffffff;
  text-align: center;
  font-family: cursive;
}
h6 {
  color: #ffffff;
  text-align: justify;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: #ffffff;
}
ion-card-title {
  color: #FF914D;
  text-align: center;
}

ion-label {
  color: #FF914D
}

h4 {
  color: #ffffff;
}

h5 {
  color: #267871;
  text-align: center;
}

.start {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-card-title {
  text-decoration: underline;
}